.comment-button {
    width: 540px;
    height: 30px;
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(231, 230, 230);
    margin-bottom: 10px;
    cursor: pointer;
}

  