.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set to full viewport height */
  }
  
  .welcome-text {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  